:root {
	--material-color: #00897b;
	--hover-color: #757575;
	--background: #f5f5f5;
	--font-color-dark: rgb(0, 0, 0);
	--font-color-light: rgb(255, 255, 255);
}

body {
	background-color: var(--background);
	font-family: Arial, Helvetica, sans-serif;
	color: var(--font-color-dark);
	font-size: 11px;
}

span.header_1 {
	width: fit-content;
	text-shadow: 0.15px 0.15px 2px grey;
	font-size: 40px;
	margin-bottom: 5px;
}

/* Side-navigation-bar -----------------------------------------------------------------------------------------------*/
.sidenav {
	height: 100%;
	width: 160px;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	background-color: var(--material-color);
	overflow-x: hidden;
	padding-top: 20px;
}

.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 15px;
	color: var(--font-color-light);
	display: block;
	width: 100%;
	text-align: left;
	cursor: pointer;
}

.sidenav a:hover {
	color: white;
	transition: 0.1s;
	background-color: var(--hover-color);
}

.main {
	margin-left: 160px;
	padding: 0px 10px;
}

/* -------------------------------------------------------------------------------------------------------------------*/

/* Table-contents ----------------------------------------------------------------------------------------------------*/
table {
	width: 100%;
}

th {
	height: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	text-align: left;
}

th.sticky {
	background-color: rgb(60, 60, 60);
	position: sticky;
	text-align: left;
	top: 0;
}

tr:nth-child(odd) {
    color: black;
    background-color: rgba(0, 150, 136, 0.3);
}

tr:nth-child(even) {
    color: black;
	background-color: rgba(0, 150, 136, 0.1);
}

tr:hover {
	background-color: var(--hover-color);
	color: white;
	transition: 0.2s;
	box-shadow: 0px 0px 5px rgb(50, 50, 50);
}

tr:first-child {
    color: white;
	background-color: transparent;
	box-shadow: none;
}

td {
	height: 5px;
	padding: 6px;
}
/* -------------------------------------------------------------------------------------------------------------------*/

/* Tabs --------------------------------------------------------------------------------------------------------------*/
.tablink {
    background-color: rgb(180, 180, 180);
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin-bottom: 10px;
    font-size: 17px;
    width: 33.33%;
}

.tablink:hover {
    background-color: var(--hover-color);
}

.tablink:focus {
    background-color: #00695c;
    color: white;
}

.tabcontent {
    display: none;
    padding-bottom: 10px;
    height: 100%;
    box-shadow: 0px 0px 10px rgb(50, 50, 50);
}
/* -------------------------------------------------------------------------------------------------------------------*/